/* styles.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f8ff;
    color: #333;
}

header {
    background-color: #0077b6;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
    text-align: center;
}

main h1 {
    color: #0077b6;
    margin-bottom: 1rem;
}

.gallery {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.gallery img {
    max-width: 480px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 0.5rem 0;
    font-size: 1.1rem;
}



form {
    max-width: 500px;
    margin: 0 auto;
    background: #fff;
    padding: 4rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 0.5rem 1rem;
    background-color: #0077b6;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #005f99;
}

footer {
    background-color: #003f5c;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.btn-anterior-bt{
    background-color: aqua;
    color: #3823B4;
    padding: 10px;
    border: none;
    font-size: 14px;
    margin-bottom: 10px;
}

.btn-siguiente-bt{
    background-color: aqua;
    color: #3823B4;
    padding: 10px;
    border: none;
    font-size: 14px;
    margin-bottom: 10px; 
}

@media (max-width: 600px){
    main img {
        width: 100%;
        height: auto;
    }
    nav ul li a{
        font-size: medium;
    }
}

@media(min-width: 600px) and (max-width: 1020px){
    
}